@model DinFlow.Models.Receita

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Receita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            Tags
        </dt>
        <dd>
            @if (Model.Tags != null && Model.Tags.Any())
            {
                foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-secondary">@tag.Nome</span> <!-- Estilo opcional para tags -->
                }
            }
            else
            {
                <span>No tags available</span>
            }
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-sm btn-primary" title="Voltar" role="button" href="@Url.Action("Index")">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
    <a class="btn btn-sm btn-warning me-2 text-dark" title="Edit" role="button" href="@Url.Action("Edit", new { id = Model.Id })">
        <i class="bi bi-pencil-square"></i> Edit
    </a>
</p>
