@model IEnumerable<DinFlow.Models.Receita>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Receitas</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayName("User Email")</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Descricao)</th>
            <th>@Html.DisplayNameFor(model => model.Valor)</th>
            <th>@Html.DisplayNameFor(model => model.Data)</th>
            <th>@Html.DisplayName("Categoria")</th>
            <th>@Html.DisplayName("Tags")</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.User.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                <td>@Html.DisplayFor(modelItem => item.Data)</td>
                <td>@Html.DisplayFor(modelItem => item.Categoria.Nome)</td>
                <td>
                    @if (item.Tags != null && item.Tags.Any())
                    {
                        foreach (var tag in item.Tags)
                        {
                            <span class="badge bg-secondary">@tag.Nome</span>
                        }
                    }
                    else
                    {
                        <span>Sem Tags</span>
                    }
                </td>
                <td class="action-buttons">
                    <a class="btn btn-sm btn-warning me-2 text-dark" title="Edit" role="button" href="@Url.Action("Edit", new { id = item.Id })">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a class="btn btn-sm btn-info me-2 text-white" title="Details" role="button" href="@Url.Action("Details", new { id = item.Id })">
                        <i class="bi bi-info-circle"></i> Details
                    </a>
                    <a class="btn btn-sm btn-danger text-white" title="Delete" role="button" href="@Url.Action("Delete", new { id = item.Id })">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
