@model DinFlow.Models.Economia

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Economia</h4>
    <div>
        <a class="btn btn-sm btn-primary" title="Voltar" role="button" href="@Url.Action("Index")">
            <i class="bi bi-arrow-left"></i> Back to List
        </a>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="mb-3">
            <label for="dataReceita" class="form-label">Data</label>
            <input type="date" class="form-control" id="dataReceita" name="Data" required>
        </div>
    </div>

    <div class="form-group" style="padding-top:10px; padding-right:10px">
        <div>
            <a class="btn btn-sm btn-outline-primary" title="Voltar" role="button" href="@Url.Action("Index")">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
            <input type="submit" value="Save" class="btn btn-sm btn-primary" />
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
