@model IEnumerable<DinFlow.Models.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            <a class="btn btn-sm btn-warning me-2 text-dark" title="Edit" role="button" href="@Url.Action("Edit", new { id = item.Id })">
                <i class="bi bi-pencil-square"></i> Edit
            </a>
            <a class="btn btn-sm btn-info me-2 text-white" title="Details" role="button" href="@Url.Action("Details", new { id = item.Id })">
                <i class="bi bi-info-circle"></i> Details
            </a>
            <a class="btn btn-sm btn-danger text-white" title="Delete" role="button" href="@Url.Action("Delete", new { id = item.Id })">
                <i class="bi bi-trash"></i> Delete
            </a>
        </td>
    </tr>
}

</table>
